<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Título</th>
            <th>Precio</th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let combo of combos' [ngClass]="{'noDisp':!combo.disponible}">
            <td><img [src]="combo.image" [alt]="combo.titulo"></td>
            <td>{{combo.titulo}}</td>
            <td>{{combo.precio | currency}}</td>
            <td><span class="badge bg-danger" *ngIf='combo.disponible==false'>No disponible</span></td>
        </tr>
    </tbody>
</table>
